.App {
  text-align: center;
  /* position: relative; */
}
form {
  margin-bottom: 2%;
}
/* .component_element {
  flex-direction: wrap;
} */
.search_item {
  padding: 100px;
  display: flex;
  max-width: 70%;
}
.plaque {
  border: 1px solid lightgray;
  height: 100px;
  width: 150px;
  cursor: pointer;
  font-size: 0;
  margin-top: 10%;
  margin-left: 5%;
}
.plaque:hover {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border: 1px solid purple;
  height: 200px;
  width: 300px;
  font-size: small;
}
.plaque:hover:after {
  content: attr(data-hover);
  padding: 0;
  margin: 0;
}
a {
  cursor: pointer;
}
.image {

}
.nav {
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
}

#nav_icons {
  color: black;
  margin: 50px;
  height: 100%;
}



